@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* colors */
    --primaryOne:#28a745;
    --primaryTwo:#f39c12;
    --secondaryColor:#f2f2f2;
    --secondaryTwo:#2c3e50;

    /* font */
    --header: 'Montserrat';
    --body: 'Roboto';

    /* font size */
    --h1: 40px;
    --h2: 32px;
    --paragraph: 16px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--secondaryColor);
    height: 100vh;
}

header{
    background-color: var(--primaryTwo);
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.search-bar{
    position: relative;
    
}

.search-bar input{
    border: 2px solid white;
    padding: 3px 5px;
    border-radius: 0.5rem;
}

.search-bar button{
    height: 33.2px;
    aspect-ratio: 1;
    position: absolute;
    right: 0;
    border: 1px solid white;
    border-radius:0 0.5rem 0.5rem 0 ;
    background-color: var(--primaryTwo);
}

.categories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.category-box{
    align-self: center;
    border: 1px solid var(--primaryOne);
    padding: 1rem;
    border-radius: 10px;
}

.category-box p{
    margin: 0;
}